header h1 {
  background-color: #9ceed3;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #e0fcf3;
}

h1 header body {
  font-family: "Chicle", cursive;
}

.searchBar {
  padding: 5px;
}

.pure-button {
  background-color: #29a57e;
}
